{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <body>
  
<!-- Page Content -->
    <div class="container">
      <br>
      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="{{ url_for('static', filename='img/AboutBDO.png') }}" alt="">
        </div>
        <div class="col-lg-6">
          <h2>About Black Desert Online</h2>
          <p>Black Desert Online is a game developed by Pearl Abyss, a Korean company, and licensed for Oceania, North America and part of Europe by Kakao Games Europe B.V.</p>
          <br>
          <a href="https://www.blackdesertonline.com/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Official Site</a>
        </div>
      </div>
    </div>
      <!-- /.row -->



    {% block js %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>

    {% endblock js %}
  </body>
{% endblock %}