{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <body>
    <br>

    {% block information %}
   <div class="container">
   		<div class="jumbotron">
   		<img src="{{ url_for('static', filename='img/provinces/Calpheon.png')}}" style="float: right;">
		  <h1>Calpheon</h1>
		<br><br>
		<section is="Information">
		<div id="information">
			<h2>Information</h2>
			<p>
        Calpheon is the largest trading hub in Black Desert Online. The name refers to both, the Calpheon territory and the city of Calpheon. The latter is the ruling seat of the Republic of Calpheon, a faction that has subjected both Serendia's and Balenos' territory currently and is in a long standing bloody struggle with the Kingdom of Valencia. Calpheon city is further the origin of the Xian Merchant Guild.
      </p>
      <p>
        The city is situated on the west side of the map, surrounded by many farms. Although the Calpheon territory is a large area, there are few resources scattered about with most places of interest being dangerous zones for players.
      </p>
		</div>
		</section>
	 </div>
	</div>

    {% endblock information %}

    {% block js %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>

    {% endblock js %}
  </body>

{% endblock %}