<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BDO Guides</title>
    
    {% block css %}
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/css.css') }}" rel="stylesheet" />
    
    {% endblock css %}
  </head>

  <body>
  
    {% block navigation %}
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">BDO Guides</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/guides">Guides</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% endblock navigation %}

    <br>

    {% block information %}
   <div class="container">
   		<div class="jumbotron">
   		<img src="{{ url_for('static', filename='img/logo/dark_knight.png')}}" style="float: right;">
		  <h1>Dark Knight</h1>
		  <a class="btn btn-primary btn-lg" href="#information" role="button">Information</a>
		  <a class="btn btn-primary btn-lg" href="#Class Loadout" role="button">Class loadout</a>
		  <a class="btn btn-primary btn-lg" href="#Skills" role="button">Skills</a>
		<br><br>
		<section is="Information">
		<div id="information">
			<h2>Information</h2>
			<p>The Dark Knight class uses a two-handed Kriegsmesser as their primary weapon and a Ornamental Knot as their secondary weapon (same offhand as Berserker). At level 56, the Dark Knight unlocks their awakening weapon. The Dark Knight class uses melee range to slash at their enemies as well as dark magical mid-ranged spells. She is often compared to the Sorceress class because of her dark magic and playstyle. They have quite a lot of mobility and powerful engages, as well as high attack damage once awakened. But they do have low defenses and can be somewhat of a glass cannon. Most of their skills do tend to feel quite slow as well and you should max your attack speed as soon as possible.</p>
			<p>This class is average in 1v1 situations because of their low defenses and if caught with CC they will probably die. However, the Dark Knight is strong in 5v5s and large scale PvP due to their AoE and high burst and are considered “OP” due to this. It is a strong class to play but some players also find the animations too slow and can find her play style boring. It’s really down to the person and you find that you either love the class or hate it.</p>
			<img src="{{ url_for('static', filename='img/rating/dk_rating.png')}}">
		</div>
		</section>
		<br><br>
		<sectoin id="Class Loadout">
		<div id="Class Loadout">
			<h2>Class Loadout</h2>
			<p>Yuria or Rosar/Krea is what you should be aiming for to level your character or if you can’t afford Liverto. You should enhance it to +15 as soon as possible and you may want to make it ultimate (yellow) to close the AP difference.</p>
      <p>Liverto is what you should be aiming for before Kzarka. You will want to upgrade it to +15 or higher as soon as possible. I would recommend getting it to TRI and then you really want to switch to Kzarka. The liverto has slightly more AP than Rosar/Krea, but it also has a Critical Hit Rate +3 item effect.</p>
      <p>Kzarka is the BiS main weapon for all classes. It has the same AP as the liverto but it has more accuracy and a Attack Speed +3 item effect.</p>
			<p>The Ornamental Knot of Sealed Magical Power is what is recommended if you are new because it gives accuracy and AP/DP. It is also given to you for free through Black Spirit quests. Use this  until you can get Saiyer or Oros.</p>
			<p>The best armor in the game is currently dropped from Bosses.</p>
			 <li>Giath’s Helmet (helmet) – dropped from Giath.</li>
			 <li>Red Nose (chest) – dropped from the Red Nose and Contaminated Imp Captian.</li>
			 <li>Bheg’s Gloves (gloves) – dropped from Bheg.</li>
			 <li>Muskan’s Shoes (shoes) – dropped from Monastery Leader.</li>
			 <br>
			<p>The are quite a few popular armor choices for Dark Knight. Some players like to go full  Grunil set because it increases your maximum HP and will give you 2 socket slots on each piece, along with extra AP +7. Another advantage of using this set is that it is viable on any class, allowing you to swap to another class easily.</p>
			<p>These are the best accessories in the game. They do cost a significant amount of silver.</p>
			 <li>Fugitive Khalk’s Earring x2</li>
			 <li>Ring of Crescent Guardian x2</li>
			 <li>Ogre Ring Necklace x1</li>
			 <li>Basilisk’s Belt x1</li>
			<br>
			<p>If you don’t have enough silver for the best accessories, these are a good temporary alternative.</p>
			 <li>Bares Earring x2</li>
			 <li>Bares Ring x2</li>
			 <li>Topaz Necklace of Regeneration x1</li>
			 <li>Bares Belt (OR any with AP) x1</li>
		</div>
		</sectoin>
		<br><br>
		<section id="Skills">
		<div class="Skills">
			<h2>Skills</h2>
			<table class="table table-bordered table-striped table-hover" id="dk_table"> 
        <thead class="thead-inverse">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Use</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
		</div>
		</section>
		</div>
	</div>

    {% endblock information %}

    {% block footer%}

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BDO Guides 2017</p>
      </div>
    </footer>
    
    {%endblock footer%}

    {% block js %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>

    {% endblock js %}
  </body>

</html>

<script>
  $(document).ready(function(){
    $.getJSON('/static/js/dark_knight.json', function(data){
      var dark_knight_data = '';
      $.each(data, function(key,value){
        dark_knight_data += '<tr>';
        dark_knight_data += '<td>'+value.id+'</td>';
        dark_knight_data += '<td>'+value.name+'</td>';
        dark_knight_data += '<td>'+value.use+'</td>';
        dark_knight_data += '</tr>';
      });
      $('#dk_table').append(dark_knight_data);
    });
  });
</script>
