<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BDO Guides</title>
    
    {% block css %}
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/css.css') }}" rel="stylesheet" />
    
    {% endblock css %}
  </head>

  <body>
  
    {% block navigation %}
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">BDO Guides</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/guides">Guides</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% endblock navigation %}
    
    {% block classes %}
    <!-- Page Content -->
    <div class="container">
    <section id="classes">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Classes</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/berserker.png') }}" alt="">
          <h3>Berserker
          </h3>
          <a href="/berserker" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/dark_knight.png') }}" alt="">
          <h3>Dark Knight
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/kunoichi.png') }}" alt="">
          <h3>Kunoichi
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/meahwa.png') }}" alt="">
          <h3>Meahwa
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/musa.png') }}" alt="">
          <h3>Musa
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/mystic.png') }}" alt="">
          <h3>Mystic
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/ninja.png') }}" alt="">
          <h3>Ninja
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/ranger.png') }}" alt="">
          <h3>Ranger
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/sorceress.png') }}" alt="">
          <h3>Sorceress
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/striker.png') }}" alt="">
          <h3>Striker
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/tamer.png') }}" alt="">
          <h3>Tamer
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/warrior.png') }}" alt="">
          <h3>Warrior
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/witch.png') }}" alt="">
          <h3>Witch
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/wizard.png') }}" alt="">
          <h3>Wizard
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
      </div>
    </section>

      {% endblock classes %}

      <hr>

      {% block lifeskills %}

      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Life Skills</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/alchemy.png') }}" alt="">
          <h3>Alchemy
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/cooking.png') }}" alt="">
          <h3>Cooking
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/farming.png') }}" alt="">
          <h3>Farming
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/gathering.png') }}" alt="">
          <h3>Gathering
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/hunting.png') }}" alt="">
          <h3>Hunting
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/processing.png') }}" alt="">
          <h3>Processing
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/trading.png') }}" alt="">
          <h3>Trading
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/training.png') }}" alt="">
          <h3>Training
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
      </div>

      {% endblock lifeskills %}

      <hr>

      {% block provinces %}

      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Provinces</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/Balenos.png') }}" alt="">
          <h3>Balenos
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/Calpheon.png') }}" alt="">
          <h3>Calpheon
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/Media.png') }}" alt="">
          <h3>Media
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/Serendia.png') }}" alt="">
          <h3>Serendia
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/Valencia.png') }}" alt="">
          <h3>Valencia
          </h3>
          <a href="#" class="btn btn-secondary btn-lg active" role="button">Guide</a>
        </div>
      </div>

      {% endblock provinces %}

      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>Hopefully all the guides we have here are useful.</p>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BDO Guides 2017</p>
      </div>
      <!-- /.container -->
    </footer>
    

    {% block js %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>

    {% endblock js %}
  </body>

</html>
