<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BDO Guides</title>
    
    {% block css %}
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/css.css') }}" rel="stylesheet" />
    
    {% endblock css %}
  </head>

  <body>
  
    {% block navigation %}
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">BDO Guides</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/guides">Guides</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% endblock navigation %}

    {% block Carousel %}
    
    <header>
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <img class="d-block w-100" src="{{ url_for('static', filename='img/kamasylvia_header.png') }}" height="600px">
		        <div class="carousel-caption d-none d-md-block">
				    <h3>Kamasylvia</h3>
				    <p>Officially released September 27th</p>
				  </div>
		    </div>
		  </div>
		</div>
    </header>
    {% endblock Carousel %}

    {% block information %}

    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">Welcome to BDO Guides</h1>

      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Information:</h2>
          <p>Here you will find info on:</p>
          <ul>
            <li>Classes</li>
            <li>Life skills</li>
            <li>Geography</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <a class="twitter-timeline" data-width="300" data-height="350" data-theme="dark" href="https://twitter.com/BDO_News?ref_src=twsrc%5Etfw">Tweets by BDO_News</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <!-- /.row -->

      {% endblock information %}

      <hr>
      {% block contact %}

      <div class="row mb-4">
        <div class="col-md-8">
          <p>If you would like to contact us, please fill in the form on the contact page.</p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="/contact">Contact Us</a>
        </div>
      </div>

      {% endblock contact%}

    </div>
    <!-- /.container -->

    {% block footer%}

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BDO Guides 2017</p>
      </div>
    </footer>
    
    {%endblock footer%}

    {% block js %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>

    {% endblock js %}
  </body>

</html>
