{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <body>
    <br>

    {% block information %}
   <div class="container">
   		<div class="jumbotron">
   		<img src="{{ url_for('static', filename='img/logo/kunoichi.png')}}" style="float: right;">
		  <h1>Kunoichi</h1>
		  <a class="btn btn-primary btn-lg" href="#information" role="button">Information</a>
		  <a class="btn btn-primary btn-lg" href="#Class Loadout" role="button">Class loadout</a>
      <a class="btn btn-primary btn-lg" href="#playS" role="button">Play Style</a>
		<br><br>
		<section is="Information">
		<div id="information">
			<h2>Information</h2>
			<p>This class uses a sword as their primary weapon and shurikens as their secondary weapon. The class is dynamic and fast paced with many movement and jump skills. Kunoichi uses light armor and has many complex combos making it a hard class to master.</p>
			<img src="{{ url_for('static', filename='img/rating/ku_rating.png')}}">
		</div>
		</section>
		<br><br>
		<sectoin id="Class Loadout">
		<div id="Class Loadout">
			<h2>Class Loadout</h2>
			<p>For the weapon, if you have enough gold, get the Liverto and upgrade it to +15 as soon as possible. If you don’t have the budget for this weapon then the Bares weapon is good for PvE, Seleth is good for PvP and Yuria is good for a balance between both.</p>
      <p>It is recommend to use the Argerian Set. The Tartoros set is good on Kunoichi too but you don’t really need the extra energy that the set provides if you are using pots and your buffs correctly. I would rather have the attack speed over the energy. Some people also prefer the Neil Trees set but the HP difference isn’t massive and it really depends on your personally preference.</p>
			<p>The best armor in the game is currently dropped from Bosses.</p>
			 <li>Giath’s Helmet (helmet) – dropped from Giath.</li>
			 <li>Red Nose (chest) – dropped from the Red Nose and Contaminated Imp Captian.</li>
			 <li>Bheg’s Gloves (gloves) – dropped from Bheg.</li>
			 <li>Muskan’s Shoes (shoes) – dropped from Monastery Leader.</li>
			 <br>
			<p>These are the best accessories in the game. They do cost a significant amount of silver.</p>
			 <li>Fugitive Khalk’s Earring x2</li>
			 <li>Ring of Crescent Guardian x2</li>
			 <li>Ogre Ring Necklace x1</li>
			 <li>Basilisk’s Belt x1</li>
			<br>
			<p>If you don’t have enough silver for the best accessories, these are a good temporary alternative.</p>
			 <li>Bares Earring x2</li>
			 <li>Bares Ring x2</li>
			 <li>Topaz Necklace of Regeneration x1</li>
			 <li>Bares Belt (OR any with AP) x1</li>
		</div>
		</sectoin>
		<br><br>
    <section id="playS">
    <div class="Playstyle">
      <h2>Play Style</h2>
      <img src="{{ url_for('static', filename='img/playstyle/kPS.png')}}">
    </div>
    </section>
		</div>
	</div>

    {% endblock information %}

    {% block js %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>

    {% endblock js %}
  </body>
{% endblock %}
