{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <body>
  <br>

    {% block information %}
   <div class="container">
   		<div class="jumbotron">
   		<img src="{{ url_for('static', filename='img/logo/maehwa.png')}}" style="float: right;">
		  <h1>Maehwa</h1>
		  <a class="btn btn-primary btn-lg" href="#information" role="button">Information</a>
		  <a class="btn btn-primary btn-lg" href="#Class Loadout" role="button">Class loadout</a>
      <a class="btn btn-primary btn-lg" href="#playS" role="button">Play Style</a>
		<br><br>
		<section is="Information">
		<div id="information">
			<h2>Information</h2>
			<p>They wear light armor and use a katana sword as their primary weapon with a horn bow as their secondary weapon.</p>
      <p>
        The Maehwa class is an agile, fast paced, and fun class to play. Maehwa uses a mixture of melee and ranged attacks with plenty of dodges and charges. They thrive in small scale PvP due to their single target lockdowns and high burst. They are also quite strong in PvE but their low defenses and lack of survivability make them an easier target in large scale PvP. New players must really keep in mind that there is quite a learning curve with any low defense class. However, just like any other class, they are very rewarding when you master them.
      </p>
			<img src="{{ url_for('static', filename='img/rating/mae_rating.png')}}">
		</div>
		</section>
		<br><br>
		<sectoin id="Class Loadout">
		<div id="Class Loadout">
			<h2>Class Loadout</h2>
			<p>For the weapon, if you have enough gold, get the Liverto and upgrade it to +15 as soon as possible. If you don’t have the budget for this weapon then the Yuria weapon is what you should be using in the mean time. For your secondary weapon, you want the White Horn Bow, or if you don’t have the gold, use the Black Horn Bow.</p>
      <p>TThe armor set you use is really dependent on your play style. The Neil Trees (Grundil) set is quite expensive and has lower defense but with it has a lot of attack power increase which goes well with the Blader class. It is an armor set which is pretty decent on every class. The Tatorus or Rotary armor sets are also good if available and you’re looking for a cheaper armor set.</p>
			<p>The best armor in the game is currently dropped from Bosses.</p>
			 <li>Giath’s Helmet (helmet) – dropped from Giath.</li>
			 <li>Red Nose (chest) – dropped from the Red Nose and Contaminated Imp Captian.</li>
			 <li>Bheg’s Gloves (gloves) – dropped from Bheg.</li>
			 <li>Muskan’s Shoes (shoes) – dropped from Monastery Leader.</li>
			 <br>
			<p>These are the best accessories in the game. They do cost a significant amount of silver.</p>
			 <li>Fugitive Khalk’s Earring x2</li>
			 <li>Ring of Crescent Guardian x2</li>
			 <li>Ogre Ring Necklace x1</li>
			 <li>Basilisk’s Belt x1</li>
			<br>
			<p>If you don’t have enough silver for the best accessories, these are a good temporary alternative.</p>
			 <li>Bares Earring x2</li>
			 <li>Bares Ring x2</li>
			 <li>Topaz Necklace of Regeneration x1</li>
			 <li>Bares Belt (OR any with AP) x1</li>
		</div>
		</sectoin>
		<br><br>
    <section id="playS">
    <div class="Playstyle">
      <h2>Play Style</h2>
      <img src="{{ url_for('static', filename='img/playstyle/maePS.png')}}">
    </div>
    </section>
		</div>
	</div>

    {% endblock information %}

    {% block js %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>

    {% endblock js %}
  </body>

{% endblock %}
