{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <body>
    <br>

    {% block information %}
   <div class="container">
   		<div class="jumbotron">
   		<img src="{{ url_for('static', filename='img/provinces/Mediah.png')}}" style="float: right;">
		  <h1>Mediah</h1>
		<br><br>
		<section is="Information">
		<div id="information">
			<h2>Information</h2>
			<p>
       Mediah was released pretty recently and has become one of the main regions of Black Desert. It is located between Serendia and Valencia.
      </p>
		</div>
		</section>
	 </div>
	</div>

    {% endblock information %}

    {% block js %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>

    {% endblock js %}
  </body>
{% endblock %}
