{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <body>
   <br>

    {% block information %}
   <div class="container">
   		<div class="jumbotron">
   		<img src="{{ url_for('static', filename='img/logo/ranger.png')}}" style="float: right;">
		  <h1>Ranger</h1>
		  <a class="btn btn-primary btn-lg" href="#information" role="button">Information</a>
		  <a class="btn btn-primary btn-lg" href="#Class Loadout" role="button">Class loadout</a>
		  <a class="btn btn-primary btn-lg" href="#playS" role="button">Play Style</a>
		<br><br>
		<section is="Information">
		<div id="information">
			<h2>Information</h2>
			<p>The Ranger class has lots of movement and dexterity, allowing you to kite your target and deal damage at long and short distances. They have high attack damage and have no problem grinding. But they do have low defences.</p>
			<img src="{{ url_for('static', filename='img/rating/ran_rating.png')}}">
		</div>
		</section>
		<br><br>
		<sectoin id="Class Loadout">
		<div id="Class Loadout">
			<h2>Class Loadout</h2>
			<p>Yuria or Rosar/Krea is what you should be aiming for to level your character or if you can’t afford Liverto. You should enhance it to +15 as soon as possible and you may want to make it ultimate (yellow) to close the AP difference.</p>
      <p>
        Liverto is what you should be aiming for before Kzarka. You will want to upgrade it to +15 or higher as soon as possible. I would recommend getting it to TRI and then you really want to switch to Kzarka. The liverto has slightly more AP than Rosar/Krea, but it also has a Critical Hit Rate +3 item effect. 
      </p>
      <p>
        Kzarka is the BiS main weapon for all classes. It has the same AP as the liverto but it has more accuracy and a Attack Speed +3 item effect.
      </p>
			<p>
        For your off-hand, Bronze Dagger is a decent alternative if you don’t have Bheg’s gloves or Liverto/Kzarka. The Dagger of Sealed Magical Power is equivalent to a +15 bronze dagger and is given to you for free through Black Spirit qusets. I would use this instead until you can get a steel dagger.
      </p>
      <p>
        Kutum Dagger gives a mixture of AP and DP. Which gives you more survivability. It gives a small accuracy boost and 10% ignore resistance. The higher AP makes this weapon a potential BiS if you want to go for a more defensive build. It also has 2 crystal slots.
      </p>
      <p>
        Nouver Dagger is the BiS offhand in my opinion. The gives pure AP and an all resistance +10% item effect. The dagger helps you to easily surpass the 200 AP mark which is important for rangers. If you find yourself above 250 AP when using the dagger then you may want to consider switching to Kutum instead for the survivability, but overall this is your “end-game” weapon.
      </p>
			<p>The best armor in the game is currently dropped from Bosses.</p>
			 <li>Giath’s Helmet (helmet) – dropped from Giath.</li>
			 <li>Red Nose (chest) – dropped from the Red Nose and Contaminated Imp Captian.</li>
			 <li>Bheg’s Gloves (gloves) – dropped from Bheg.</li>
			 <li>Muskan’s Shoes (shoes) – dropped from Monastery Leader.</li>
			 <br>
			<p>They are quite a few popular armour choices for Ranger. Some players like to go full  Grunil set because it increases your maximum HP and will give you 2 socket slots on each piece, along with extra AP +7. Another advantage of using this set is that it is viable on any class, allowing you to swap to another class easily.</p>
      <p>
        Another popular alternative is to use 2 pieces of Grunil with 2 pieces of Heve. Using both Heve Chest and Heve Shoes with Grunil Helm and Grunil Gloves for the AP +5 and Max HP +250 set bonuses, or use Heve Helm and Heve Gloves with Grunil Armor and Grunil Shoes for a total of Max HP +400.
      </p>
			<p>These are the best accessories in the game. They do cost a significant amount of silver.</p>
			 <li>Fugitive Khalk’s Earring x2</li>
			 <li>Ring of Crescent Guardian x2</li>
			 <li>Ogre Ring Necklace x1</li>
			 <li>Basilisk’s Belt x1</li>
			<br>
			<p>If you don’t have enough silver for the best accessories, these are a good temporary alternative.</p>
			 <li>Bares Earring x2</li>
			 <li>Bares Ring x2</li>
			 <li>Topaz Necklace of Regeneration x1</li>
			 <li>Bares Belt (OR any with AP) x1</li>
		</div>
		</sectoin>
		<br><br>
		<section id="playS">
		<div class="Playstyle">
			<h2>Play Style</h2>
			<img src="{{ url_for('static', filename='img/playstyle/rangerPS.png')}}">
		</div>
		</section>
		</div>
	</div>

    {% endblock information %}

    {% block js %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>

    {% endblock js %}
  </body>
{% endblock %}
