<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BDO Guides</title>
    
    {% block css %}
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/css.css') }}" rel="stylesheet" />
    
    {% endblock css %}
    
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

  </head>

  <body>
  
    {% block navigation %}
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">BDO Guides</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/guides">Guides</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% endblock navigation %}

    <br>

    {% block information %}
   <div class="container">
   		<div class="jumbotron">
   		<img src="{{ url_for('static', filename='img/provinces/Serendia.png')}}" style="float: right;">
		  <h1>Serindia</h1>
		<br><br>
		<section is="Information">
		<div id="information">
			<h2>Information</h2>
			<p>
        Serendia is one of the main regions in Black Desert. It is the home of a kingdom under King Crucio with seat in Heidel City. The king was kidnapped by the invading army of the Republic of Calpheon until recently and only released after he agreed on their terms. Thus Serendia is now under Calpheon's rule.
      </p>
		</div>
		</section>
	 </div>
	</div>

    {% endblock information %}

    {% block footer%}

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BDO Guides 2017</p>
      </div>
    </footer>
    
    {%endblock footer%}

    {% block js %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>

    {% endblock js %}
  </body>

</html>
