<{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <body>
  <br>

    {% block information %}
   <div class="container">
   		<div class="jumbotron">
   		<img src="{{ url_for('static', filename='img/provinces/Valencia.png')}}" style="float: right;">
		  <h1>Valencia</h1>
		<br><br>
		<section is="Information">
		<div id="information">
			<h2>Information</h2>
			<p>
       Valencia is a dry territory in the world of Black Desert Online and home of the Kingdom of Valencia. The latter is in a long and persistent, violent conflict with the Republic of Calpheon over dominance of the desert which is part of the Valencia territory. This desert is rich in a rare resource - the Black Stones - and the name-giver for the game.
      </p>
      <p>
        While the Republic of Calpheon is solely focused on bringing every source of Black Stone under their rule and they call it accordingly the Black Desert and their army the Army of the Black Desert, the Kingdom of Valencia refers to the area as the Red Desert in honor of the blood shed there of its defending army - the Army of the Red Desert. The battle between both armies is a PvP event taking place in the game every so often.
      </p>
		</div>
		</section>
	 </div>
	</div>

    {% endblock information %}

    {% block js %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>

    {% endblock js %}
  </body>
  {% endblock %}
